.todoItem{
    border: 2px solid grey;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
    padding: 5px;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.statusAndColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column{
    border: 2px solid grey;
    border-radius: 10px;
    height: 600px;
    width: 300px;
    margin: 10px;
    padding: 5px;
    overflow-y: scroll;
}
.column::-webkit-scrollbar {
    display: none;
  }
.ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
.newTaskLightbox{
    border-radius: 18px;
    padding: 50px;
    border-color: blue;
    border-style: solid;
    display: flex;
    margin: auto;
    position: absolute;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: calc(50vh - 80px);
    margin-left: calc(50vw - 80px);
    z-index: 3;
}